# GEMINI_API_KEY: Secure Google AI API Key (server-side only)
GEMINI_API_KEY=

# REDIS_URL: Connection URL for Upstash Redis cluster
REDIS_URL="redis://default:AZ4-AAIgcDFiYTBlMmY1YjI3ZTA0OTE0Yjc3ZGFiMzkzNmY2NzQ5Ng@on-insect-40510.upstash.io:6379"
